.root {
	-fx-background-color: linear-gradient(#1e1e1e, #333333);
}

.flow-pane {
	-fx-alignment: center;
	-fx-hgap: 20;
	-fx-padding: 10 10 10 10;
	-fx-vgap: 20;
}

.text-field, .text-area, .button, .choice-box .label, .choice-box .context-menu .label, .list-cell, .titled-pane {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #1e1e1e;
	-fx-background-radius: 4;
	-fx-background-color: #dcdcdc;
	-fx-wrap-text: true;
}

.label {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #dcdcdc;
}

.list-cell:even {
	-fx-background-color: #dcdcdc;
}

.list-cell:odd {
	-fx-background-color: #cdcdcd;
}

.list-cell:filled:selected {
	-fx-background-color: linear-gradient(#00f060, #10c0f0);
 	-fx-text-fill: #1e1e1e;
}

.list-cell:filled:hover {
	-fx-background-color: linear-gradient(#9090f0, #10c0f0);
 	-fx-text-fill: #1e1e1e;
}

.text-area .content {
	-fx-background-color: #dcdcdc;
}

.button {
 	-fx-background-color: linear-gradient(#10c0f0, #9090f0);
 	-fx-font-weight: bold;
 	-fx-min-height: 37px;
 	-fx-max-height: 37px;
}

.button:hover {
	-fx-background-color: linear-gradient(#00f060, #10c0f0);
	-fx-scale-x: 1.02;
	-fx-scale-y: 1.02;
}

.button:pressed {
	-fx-scale-x: 0.98;
	-fx-scale-y: 0.98;
}

 .slider .axis {
	-fx-tick-label-fill: #dcdcdc;
}

.table-view, .table-view .column-header .label, .table-cell {
	-fx-alignment: center;
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #1e1e1e;
}

.table-view .column-header .label {
	-fx-background-color: #dcdcdc;
}

.check-box {
	-fx-font-family: "Arial";
	-fx-font-size: 15px;
	-fx-text-fill: #1e1e1e;	
}

.check-box .box {
	-fx-background-color: #dcdcdc;
}
